<!doctype html>
<html xmlns:th="http://www.thimeleaf.org" xmlns:sec="http://www.thimeleaf.org/extras/spring-security" lang="es">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <div align="center" style="margin: 10px">

            <hr style="color: blue">
            <h2 style="color: #4649FF"><b>LISTA DE USUARIOS</b></h2>
            <hr style="color: blue">

            <table class="table table-primary table-hover">

                <thead align="center">
                    <tr>
                        <th>Nombre</th>
                        <th>Foto Perfil</th>
                        <th>Rol</th>
                        <th>ACCIÓN</th>
                    </tr>
                </thead>

                <tbody align="center" th:each="usuario : ${usuarios}">
                    <tr>
                        <th th:text="${usuario.nombre}"></th>
                        <td>
                            <a><img th:if="${usuario.imagen != null}" th:src="@{/imagen/perfil/__${usuario.id}__}"></a>
                        </td>
                        <td th:text="${usuario.rol}"></td>
                        <td>
                            <a type="button" class="btn btn-primary" style="text-decoration: none; width: 80%; margin: 5px" th:href="@{/admin/modificarRol/__${usuario.id}__}">Cambiar Rol</a>
                        </td>
                    </tr>
                </tbody>

            </table>
            <hr style="color: blue">

            <a href="/admin/dashboard" type="button" class="btn btn-secondary">Volver</a>

            <div th:if="${error!=null}">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <div th:if="${exito!=null}">
                <div class="card-body">
                    <h5 class="card-title">Éxito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>

