<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carga de Noticias</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
            <!--EJ. DE FORMULARIO PARA CARGAR IMAGEN A LA NOTICIA. -->
<!--        <form action="http://localhost:8000" method="post" enctype="multipart/form-data"> 
            <input type="file" name="file1"> 
        </form>-->


        <form style="margin: 20px" action="/noticia/formcrear" method="POST" class="row g-3">
            <h1><b>CARGAR NOTICIA</b></h1>
            <div class="col-auto">
                <label class="visually-hidden">Título de la Noticia</label>
                <input type="text" class="form-control" name="titulo" placeholder="Título de la noticia" >    
                <br>
                <label class="visually-hidden">Cuerpo de la Noticia</label>
                <textarea type="text" cols="9" rows="9" class="form-control" name="cuerpo" placeholder="Cuerpo de la noticia" ></textarea>
                <br>
                <label class="visually-hidden">Foto de la Noticia</label>
                <!--  VER TEMA CARGAR FOTO DESDE EQUIPO!!!!!! -->
                <input type="text" class="form-control" name="foto" placeholder="Foto de la noticia" >
                <br>
                <button type="submit" class="btn btn-primary mb-3">Crear</button>
            </div>
            <br>
            <div th:if="${error!=null}" class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <!--                    <div class="card-header">Error</div>-->
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <br>
            <div th:if="${exito!=null}" class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Éxito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
        </form>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>