/GUÍA 6/EJERCICIOS/Ej9_Guia6/nbproject/private/
/GUÍA 6/EJERCICIOS/Ej9_Guia6/build/
/GUÍA 6/EJERCICIOS/Ej10-Guia6/nbproject/private/
/GUÍA 6/EJEMPLOS/Ejemplo Proyecto POO_  Perro-20220727T222558Z-001/Ejemplo Proyecto POO_  Perro/Veterinaria/Veterinaria/build/
/GUÍA 6/EJEMPLOS/Ejemplo Proyecto POO_  Perro-20220727T222558Z-001/Ejemplo Proyecto POO_  Perro/Veterinaria/Veterinaria/nbproject/private/
