#titulo{
    color: cadetblue;
}

strong{
    color: red;
}

.destacado{
    color: orange;
}

#subtitulo{
    color: blue;
}

#a1{
color: red;
}

#em1{
    color:blue;
}

.especial2{
    color: blueviolet;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

.especial{
    color: orange;
}

.rojo{
    color: red;
}

.verde{
    color: green;
}

#adicional{
    color: yellowgreen;
}

#especial{
    color: violet;
}

#link2{
    color: green;
}